<div class="col-12 col-md-4">
<div id="clearance" class="sign-in">
<<<<<<< HEAD

    <p class="alert alert-info" id="notice"><%= notice %></p>
  <h2><%= t(".title") %></h2>
=======
>>>>>>> 8390f2a331652945e2910d6d6a7eb67ef22ed9d2

  <%= render partial: '/sessions/form' %>

</div>
<<<<<<< HEAD
			<%= link_to "Sign in with Google", "/auth/google_oauth2" %>		
=======
</div>
>>>>>>> 8390f2a331652945e2910d6d6a7eb67ef22ed9d2
