<body style=" background-color: #f1f1f1;">
  

      <div class="container">
      

                

       <h1>Listings</h1>
          
                 


                  <div id="tag_cloud" class="container-fluid">
                        <% tag_cloud Listing.tag_counts, %w[s m l] do |tag, css_class| %>
                        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                        <% end %>
                  </div>

                 
                    <%= render partial:'form_with' %>

                <div id="card-columns" style="margin: 0 auto;">
                        <%= render partial:'index',remote:true %>
                </div>
         
               
  
         </div>
</body>

      <script>  

</script>

