<body style=" background-color: #f1f1f1;">

      <div class="container">
      

                

       <h1>Listings</h1>
          
                 
                <%= link_to "Clear",listings_path,class:"btn btn-2"%>

                    <%= render partial:'form_with' %>

                <div id="card-columns">
                            <%= render partial:'index',remote:true %>
                </div>
         
               
  
         </div>
</body>

      <script>  
// $(document).ready(function(){
//   $("#myInput").on("keyup", function() {
//     var value = $(this).val().toLowerCase();
//     $("#myTable tb").filter(function() {
//       $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
//     });
//   });
// });
</script>

