<body style=" background-color: #f1f1f1;">

      <div class="container">
      

                

       <h1>Listings</h1>
          
                 
                <%= link_to "Clear",listings_path,class:"btn btn-outline-default waves-effect"%>


          



                    <%= render partial:'form_with' %>

                <div id="card-columns">
                            <%= render partial:'index',remote:true %>
                </div>
         
               
  
         </div>
</body>

      <script>  
/
</script>

