<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="/admin">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="/admin/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/listings">Listings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/reservations">Reservations</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/tags">Tag</a>
    </li>
  </ul>



<br>
 <%= render partial:'search' %>
<br>