<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Your Listings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Your </a>
  </li>

      <% if current_user.admin? %>         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Users</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Listings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
      <% end %>
</ul>
     

